<div class="container">
  <h1>定時業務</h1>
</div>
<div class="container">
  <h2>編集</h2>
</div>
<%= form_with model: @regular_work do |f| %>
  <div class="container">
    <table>
      <tr>
        <th><%= f.label :name ,"業務" %></th>
        <th><%= f.label :time_required ,"所要時間（分）" %></th>
      </tr>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.number_field :time_required %></td>
      </tr>
    </table>
  </div>
  <div class="table_bottom">
    <%= f.submit "登録"%>
    　<%= link_to "一覧に戻る", :regular_works, class: "immutable_color_link" %>
  </div>
<% end %>
