<div class="centered">
  <h1 class="margin_bottom_50px">商品管理業務</h1>
</div>
<div class="centered">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
</div>
<div class="search_form">
  <%= form_with url: search_product_management_work_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "キーワードを入力" %>
    <%= f.submit :検索 %>
  <% end %>
  <%= link_to "新規登録", :new_product_management_work, class: "new_button" %>
</div>
<%= render 'shared/works_index', works:@product_management_works %>
