<div class="container">
  <h3>登録済み作業割当一覧</h3>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>作業割当</th>
        <th>更新日</th>
        <th>作成日</th>
        <th>参照</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><%= table.id %></td>
          <td><%= table.title %></td>
          <td><%= table.updated_at.to_s(:datetime_jp) %></td>
          <td><%= table.created_at.to_s(:datetime_jp) %></td>
          <td>
            <%= link_to "参照", table %>
          </td>
          <td>
            <%= link_to "編集", [:edit, table] %>
          </td>
          <td>
            <%= link_to "削除", table, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
